tensorboard
fire
sentencepiece
seaborn
pycocotools
einops
prdc
pytorch_fid
IPython
cairosvg
moviepy
shapely
gpustat
termcolor
chardet
decord
accelerate
deepspeed
pytorch_lightning
hydra-core
librosa
local_attention
lightning
vector_quantize_pytorch
colorlog
redis
tqdm
msgpack
configobj
psutil
imageio
h5py
json_lines
pandas
einops
opencv-python
